.md {
  position: relative;
  width: 700px;
  max-width: 100%;
  padding: 20px 24px 16px 24px;
  line-height: 1.5;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  box-sizing: border-box;
}

.md-single-code {
  padding: 0.065em 0.4em;
  overflow-x: auto;
  font-size: 1.2em;
  color: var(--font-color);
  word-break: break-word;
  background-color: var(--bg-color);
  border-radius: 2px;
}

.md-blockquote {
  padding: 0.01rem 1em 0.01rem 0.8rem;
  margin: 0;
  color: var(--font-color);
  background-color: var(--bg-color);
  border-left: solid var(--border-color) 5px;
}

.md-grid {
  overflow-x: hidden;
  background-image: linear-gradient(90deg, var(--grid-color) 3%, transparent 0),
    linear-gradient(1turn, var(--grid-color) 3%, transparent 0);
  background-position: 50%;
  background-size: 20px 20px;
}

.md-pre-block {
  position: relative;
  font-size: 15px;
  border-radius: 5px;
}

.md-copy {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #abb2bf;
  cursor: pointer;
  user-select: none;
}

.md-ting {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  user-select: none;
}

.md-ting span {
  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 0 5px;
  margin-right: 5px;
  border-radius: 50%;
}

.md-ting .red {
  background-color: #ff5552;
}

.md-ting .yellow {
  background-color: #ffb53c;
}

.md-ting .green {
  background-color: #00c341;
}

.md-line-numbers {
  display: inline-block;
  min-width: 35px;
  margin-right: 8px;
  color: #abb2bf;
  text-align: center;
  user-select: none;
}

.md-line-numbers:first-child {
  display: inline-block;
  padding-top: 0.5em;
}

.md-notify {
  position: fixed;
  top: 85%;
  width: 130px;
  min-height: 50px;
  padding: 10px 15px;
  margin: 0 0 0 -60px;
  font-size: 0.32rem;
  line-height: 50px;
  color: var(--font-color);
  text-align: center;
  background-color: #fff;
  border: var(--border-color);
  border-radius: 4px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgb(209 209 232 / 40%);
  animation: md-notify-frames 3s ease-in-out;
}
@keyframes md-notify-frames {
  0% {
    right: 2%;
    opacity: 100%;
  }

  50% {
    right: 1%;
    opacity: 30%;
  }

  100% {
    right: 0;
    opacity: 0;
  }
}
