.md-single-code {
  padding: 0.065em 0.4em;
  overflow-x: auto;
  font-size: 1.2em;
  color: var(--font-color);
  word-break: break-word;
  background-color: var(--bg-color);
  border-radius: 2px;
}

.md-blockquote {
  padding: 0.01rem 1em 0.01rem 0.8rem;
  margin: 0;
  color: var(--font-color);
  background-color: var(--bg-color);
  border-left: solid var(--border-color) 5px;
}
